<div class="alert alert-warning" role="alert">
 
  <p>You will be shown a <strong>prompt</strong> sent to a chatbot, and two possible <strong>responses</strong>.
    Please read the prompt in full, and then rate how good each response is, on a scale from 1 (very bad) to 5 (very good). </p>
    <p>You should judge the <strong>responses</strong> based on whatever criteria you think are important. Imagine that you are a user of the chatbot and that you had sent it the prompt: how happy would you be with each of the responses?</p>
<p>The prompt should usually make it clear what the chatbot should do, such as answering a question or summarising a conversation. In some cases the prompt may end with a heading like "Summary:" or "Description:" -  in this case the response should "fill in the blank" and write out a summary or description of the rest of the prompt. </p>
  </div>

  <div class="alert alert-info" role="alert">
    First, carefully read through the prompt, checking that you understand how you expect the chatbot to respond. Then carefully read each response.
  </div>


<div class="row" style="background-color: white;">
    
    {{instance | safe}}
    
      
      
      
    
</div>
<br style="height: 25px;" />

<div class="alert alert-info" role="alert">
    Rate each of the two responses from 1 (Very bad) to 5 (Very good) based on how good they are. Use your own judgement - how happy would you personally be to receive each of the responses? Remember that you are being asked to judge the <strong>responses</strong>, not the prompt. Required fields are marked with an asterisk.
  </div>

<div class="row">
    
    {{annotation_schematic}}
    
</div>